.contact-container {
    background: white;
    z-index: 1000;
    overflow: hidden;
    margin: 1rem auto;

    .contact {
        &__heading {
            overflow: hidden;
            font-size: 1.5rem;
            border-bottom: 1px solid $primary-color;
            font-weight: weight(medium);
            text-align: center;
        }
    
        &__form {
            &__label {
                font-size: 0.9rem;
                color: grey;
                margin-bottom: -0.35rem;
            }
    
            .form-control {
                margin-bottom: 0.5rem;
            }
        }
    }
}