.footer {
    background: $text-color;
    color: $primary-color;
    font-size: 1.1rem;
    a {
        @include link-format
    }
    
    .container {
        .footer__lists {

            &__left {
                &__item {
                    a {
                        font-size: 1.1rem;
                        color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
    
            &__right {
                display: flex;
                justify-content: flex-end;

                &__item {
                    color: $secondary-color;
                    padding-left: 1rem;
                    align-self: center;
                    @include transition-ease;

                    &:hover {
                        color: $secondary-color--hover;
                    }
                }
            }
        }    
    }

    .footer__bottom {
        font-size: 0.9rem;
        text-align: center;
    }
}
