.footer {
    background: $text-color;
    color: $primary-color;
    font-size: 1.1rem;
    a {
        @include link-format
    }
    
    .container {
        .footer__lists {

            &__left {
                display: flex;
                flex-direction: column;
                &__item {
                    align-self: center;
                    a {
                        font-size: 1.1rem;
                        color: $primary-color;
                        text-decoration: none;
                    }
                }
            }
    
            &__right {
                display: flex;
                justify-content: center;

                &__item {
                    color: $secondary-color;
                    padding-left: 1rem;
                    align-self: center;
                    @include transition-ease;

                    &:active {
                        color: $secondary-color--hover;
                    }
                }
            }
        }    
    }

    .footer__bottom {
        margin-top: 1rem;
        font-size: 0.9rem;
        text-align: center;
    }
}

@media only screen and (max-width: $mobile) {
    .footer__lists {
        &__right {
            font-size: 1rem;
        }
    }
}