.real-logo {
    overflow: hidden;
    justify-self: flex-start;
    font-size: 3rem;
    font-weight: weight(bold);
    color: $primary-color;

    .estate {
        color: $secondary-color;
    }

    .fa-home {
        color: $secondary-color;
        margin-right: 5px;
    }
}