* {
  overflow-x: hidden;
}

*:before, *::after {
  margin: 0;
  padding: 0;
}

.hero {
  background: url("../img/bg1.jpg") no-repeat center scroll;
  background-color: #3f3030;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.hero:hover, .hero:active, .hero:link, .hero:focus {
  text-decoration: none;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f3f3f3;
}

.hero .hero__logo {
  overflow: hidden;
  font-size: 3rem;
  font-weight: 700;
  justify-self: flex-start;
  border-bottom: 1px solid #f3f3f3;
  color: #f3f3f3;
}

.hero .hero__logo .fa-home {
  color: #48CDFF;
  margin-right: 5px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f3f3f3;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: -15%;
  }
  .hero h1 {
    font-size: 2.75rem;
  }
  .hero p {
    font-size: 1.35rem;
  }
}

.property-wrap {
  margin: 1rem 0;
  text-decoration: none;
}

.property-wrap:hover, .property-wrap:active, .property-wrap:link, .property-wrap:focus {
  text-decoration: none;
}

.property-wrap .card__header {
  margin: 1rem;
}

.property-wrap .card__header__title--1 {
  text-transform: uppercase;
  font-size: 1.35rem;
  font-weight: 700;
  overflow-y: hidden;
  color: #3f3f3f;
}

.property-wrap .card__header__title--2 {
  color: green;
  font-weight: 700;
  font-size: 1.20rem;
  border-bottom: 1px solid #3f3f3f;
}

.property-wrap .card__footer {
  padding: 1rem;
}

.property-wrap .card__footer__sub {
  display: inline-block;
  color: #3f3f3f;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.filter {
  padding: 1rem 1rem;
  z-index: 1;
  overflow: hidden;
  color: #3f3f3f;
}

.filter__title {
  font-weight: 700;
  font-size: 2.75rem;
  overflow: hidden;
  margin-left: -1rem;
}

.filter__head {
  font-size: 1.425rem;
  font-weight: 500;
  border-bottom: 1px solid #3f3f3f;
  margin: 1rem -1rem;
}

.filter .form-label {
  font-weight: 500;
  font-size: 1.235rem;
}

.filter .form-control:hover, .filter .form-control:active, .filter .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.filter .form__type {
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .filter__title {
    font-size: 2.10rem;
  }
  .filter__head {
    font-size: 1.05rem;
    text-align: center;
  }
  .filter .form-label {
    font-size: 1rem;
  }
}

.btn {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.btn--clear-filter {
  color: #3f3f3f;
  background: none;
  border: 1px solid #3f3f3f;
  border-radius: 2rem;
  width: 8rem;
  font-weight: 500;
}

.btn--clear-filter:hover {
  background: #3f3f3f;
  color: #f3f3f3;
  border: 1px solid #3f3f3f;
}

.btn--goto {
  background: #48CDFF;
  border-radius: 2rem;
  float: right;
  font-size: 1.15rem;
  font-weight: 500;
}

.btn:focus, .btn:hover, .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.carousel-inner {
  width: 100%;
  height: 360px;
}

.carousel-inner .carousel-item {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.carousel-inner .carousel-item img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html {
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

html body .container {
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */