$primary-color: #f3f3f3;
$secondary-color: #48CDFF;
$secondary-color--hover: rgb(58, 156, 192);
$text-color: #3f3f3f;
$cash: #007c11;
$weight: ( 
    'regular': 300,
    'medium': 500,
    'bold': 700,
    'bolder': 900,
);
$mobile: 768px;
$tablet: 1024px;

@function weight($weightname){
    @return map-get($weight, $weightname );
};

@mixin transition-ease {
    transition: all 300ms ease-in-out;
};

@mixin flex-center {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
};

@mixin link-format {
    text-decoration: none !important;
    &:link, &:visited, &:hover, &:active {
        text-decoration: none !important;
    }
};