$primary-color: #f3f3f3;
$secondary-color: #48CDFF;
$text-color: #3f3f3f;
$cash: #007c11;
$weight: ( 
    'regular': 300,
    'medium': 500,
    'bold': 700,
    'bolder': 900,
);
$mobile: 768px;

@function weight($weightname){
    @return map-get($weight, $weightname );
};

@mixin transition-ease {
    transition: all 500ms ease-in-out;
};

@mixin flex-center {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
};

@mixin link-format {
    text-decoration: none;
    &:hover, &:active, &:link, &:focus {
        text-decoration: none;
    }
};

@mixin text--white {
    color: $primary-color;
};

@mixin text--dark {
    color: $text-color;
}
