.filter {
    padding: 20px;
    z-index: 1;
    overflow: hidden;
        
        .filter__title {
            font-weight: weight(bold);
            font-size: 3rem;
            overflow: hidden;
            margin-left: -1rem;
        }

        .form- {
            &label {
                @include flex-center;
                font-weight: weight(regular);    
            }

            &group {
                padding-right: 2rem;
            }
        }

    }
