.hero { 
    background: 
        linear-gradient(
        to right,
        rgba($text-color, 0.9),
        rgba($text-color, 0.3),
            ),
        url('../img/bg1.jpg') no-repeat center top scroll;
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include link-format;
    
    h1 {
        font-size: 4rem;
        font-weight: weight(bolder);
        text-transform: capitalize;
        overflow: hidden;
        align-self: center;
        color: $primary-color;
    }

    p {
        font-size: 1.5rem;
        font-weight: weight(regular);
        align-self: center;
        color: $primary-color;
    }

    .estate {
        color: $secondary-color;
    }
}

.mini-hero {
    .hero {
        height: 40vh !important;
    }
}

@media only screen and (max-width: $mobile) {
    .mini-hero {
        .hero {
            &__logo {
                font-size: 2rem;
            }

            h1 {
                font-size: 2rem;
                margin: 1rem;
            }
    
            p {
                font-size: 1.15rem;
                margin: 1rem;
            }
        }
    }
}
    
    