.hero { 
    background: url('../img/bg1.jpg') no-repeat center scroll;
    background-color: rgb(63, 48, 48);
    background-size: cover;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    @include link-format;
    
    h1 {
        font-size: 4rem;
        font-weight: weight(bolder);
        text-transform: capitalize;
        overflow: hidden;
        align-self: center;
        @include text--white;
    }

    .hero__logo {
        overflow: hidden;
        font-size: 3rem;
        font-weight: weight(bold);
        justify-self: flex-start;
        border-bottom: 1px solid $primary-color;
        @include text--white;

        .fa-home {
            color: $secondary-color;
            margin-right: 5px;
        }
    }

    p {
        font-size: 1.5rem;
        font-weight: weight(regular);
        align-self: center;
        @include text--white;
    }
}

@media only screen and (max-width: $mobile) {
    .hero {
        height: -15%;

        h1 {
            font-size: 2.75rem;
        }

        p {
            font-size: 1.35rem;
        }
    }
}
    
    