    .property-wrap {
        background: $primary-color;
        margin: 1rem 0;
    
            .card {
                &__header {
                    margin: 1rem;

                    &__title {
                        &--1 {
                            text-transform: uppercase;
                            font-size: 1.35rem;
                            font-weight: weight(bold);
                            overflow-y: hidden;
                        }
            
                        &--2 {
                            color: green;
                            font-weight: weight(bold);
                            font-size: 1.20rem;
                            border-bottom: 1px solid $text-color;
                        }
        
                        &--sub {
                            color: $text-color;
                            font-size: 0.85rem;
                            margin-top: 1rem;
                        }
                    }
                }
    
    
                .btn {
                    @include flex-center;
                    font-size: 1.15rem;
                    font-weight: weight(medium);
                }
                
            }
        }
