@import 'reset';
@import 'config';
@import 'partials';
@import 'hero';

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;

    body {
        overflow-x: hidden;
        font-family: 'Source Sans Pro', sans-serif;  
        background: $primary-color;  

        #root {
            position: relative;
            min-height: 100vh;

            .container {
                padding: 1rem;
            }
        }
    }
}





