@import 'reset';
@import 'config';
@import 'partials';

html {
    overflow-x: hidden;

    body {
        overflow-x: hidden;
        font-family: 'Source Sans Pro', sans-serif;    

        .container {
            padding: 1rem;
        }
    };
};





